# Core ML & Deep Learning
tensorflow==2.19.0
keras==3.10.0
ultralytics==8.3.170

# Computer Vision
opencv-python==4.11.0.86
Pillow==11.2.1

# Data Science & Visualization
numpy==1.26.4
matplotlib==3.10.3
scikit-learn==1.6.1

# Web App & UI
streamlit==1.46.1

# PDF Generation
reportlab==4.4.2

# Utilities
python-dotenv==1.1.1
